doctype
html
	head
		title My Desk
		//link(href="/styles/desk.css")
	body
		h1 App Desk

	script(type="text/javascript" src="scripts/vendors.min.js")
	script(type="text/javascript" src="scripts/desk.min.js")